<!DOCTYPE HTML>
<head>
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

	<!-- Compiled and minified JavaScript -->
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
	<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>         
</head>
<body>
	<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

	<header>
      <nav class="light-blue lighten-1" role="navigation">
	<div class="nav-wrapper container">
	  <a href="/" class="brand-logo">Building Search</a>
	  <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
	</div>
      </nav>
    </header> <!-- Some header code I took from my personal site. -->
	<div class="container">
		{% if results %}
			<h1>Search Results</h1>
				<ul class="collapsible" data-collapsible="accordion">
				{% for result in results %}
					<li id="{{ result.id }}">
						<div class="collapsible-header teal lighten-1 white-text">{{ result.title }}</div>
						<div class="collapsible-body">
							<center><h3>{{ result.title }}</h3></center>
							{% if result.image %}<center><p><img src="{{ result.image }}"/></p></center>{% endif %}
							{% if result.address %}<p><b>Address</b>: {{ result.address }}</p> {% endif %}
							{% if result.description %}<p><b>Description</b>: {{ result.description }}</p>{% endif %}
							{% if result.architect %}<p><b>Architect</b>: {{ result.architect }}</p>{% endif %}
							{% if result.year %}<p><b>Year Built</b>: {{ result.year }}</p>{% endif %}
							{% if result.link %} <p><b>Website</b>: {{ result.link }}
							<center><div class="fb-share-button" data-href="http://www.facilities.upenn.edu/maps/bike-racks/harnwell" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{result.fbshare}}&amp;src=sdkpreparse">Share</a></div></center></p>  {% endif %}

							<center><iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB1bvakbkJVZVooyd2vzlES9VS9a-JG0Nk&q=({{result.latitude}},{{result.longitude}})" allowfullscreen>
							</iframe></center><br>

							
						</div>
					</li>
				{% endfor %}
			</ul>
		{% else %}
			<h1>Welcome to the Building Search!</h1>
			Enter the name of a building below!
			<form action="/" method="GET">
				<input type="text" name="name">
			</form>
		{% endif %}
	</div>


</body>